.header {
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
    // position: fixed;
    align-items: center;
    width: 100%;
}
.container {
    width: var(--content-width);
    height: var(--content-header-heigh);
    display: flex;
}
